<tr th:fragment="PetRow(pet)">
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="flex items-center">
            <div class="flex-shrink-0 h-10 w-10">
                <img class="h-10 w-10 rounded-full" th:src="@{${'/assets/img/'+ pet.urlImg}}" alt="Pet Image">
            </div>
            <div class="ml-4">
                <div th:text="${pet.name}" class="text-sm font-medium text-gray-900">
                </div>
            </div>
        </div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div th:text="${pet.age}" class="text-sm text-gray-900"></div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div th:text="${pet.breed}" class="text-sm text-gray-900"></div>
    </td>
    <td th:text="${pet.gender == 'M'} ? 'Macho' : 'Hembra'" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    </td>
    <td th:text="${pet.owner}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
            Activo
        </span>
    </td>
    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5">
        <a th:href="@{/form-mascota/{id}(id=${pet.id})}" class="text-teal-600 hover:text-teal-900 mr-5">Editar</a>
        <a th:href="@{/mascota/eliminar/{id}(id=${pet.id})}"
            class="text-red-600 hover:text-red-900 eliminar">Eliminar</a>
    </td>
</tr>