<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head-fragment('Adopta una Mascota')"></head>

<body>

    <aside th:replace="layout/aside :: aside-fragment('inicio')"></aside>

    <main class="pet__profile section container">
        <div class="pet__img">
            <img th:if="${pet.urlImg} == null" th:src="@{/assets/img/noImgPet.png}" alt="No Image">
            <img th:if="${pet.urlImg} != null" th:src="@{${'/assets/img/'+ pet.urlImg}}" alt="Pet Image">
        </div>
        <div class="pet__description">
            <h4 class="text-center" th:text="${pet.name}"></h4>
            <p>Genero: <span th:text="${pet.gender == 'M'} ? 'Macho' : 'Hembra'"></span></p>
            <p>Edad: <span th:text="${pet.age}"></span></p>
            <p>Raza: <span th:text="${pet.breed}"></span></p>
            <p>Color: <span th:text="${pet.color}"></span></p>
            <p>Peso: <span th:text="${pet.weigh}"></span></p>
            <p>Fecha de Nacimiento: <span th:text="${pet.birthday}"></span></p>
            <p>Dueño: <span th:text="${pet.owner}"></span></p>
            <a class="button secondary" href="#">Adoptar</a>
        </div>
    </main>

</body>

</html>